body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
